body {
  background-color: #308834;
  background-image: linear-gradient(top, #1a4a1c, #308834);
}
.title {
  font-size: 3rem;
  text-shadow: 1px 1px 1px goldenrod;
}
.header {
  margin-top: 100px;
  text-align: center;
  margin-bottom: 50px;
}
.btn {
  width: 100px;
  height: 30px;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: bold;
  cursor: grab;
}
.btn:active {
  cursor: grabbing;
}

.stage {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}
.player_cards {
  display: flex;
  flex-flow: row wrap;
}
.player_card0 {
  position: relative;
}
.player_card1 {
  position: relative;
  left: -50px;
}
.player_card2 {
  position: relative;
  left: -100px;
}
.player_card3 {
  position: relative;
  left: -150px;
}
.player_card4 {
  position: relative;
  left: -200px;
}
.player_card6 {
  position: relative;
  left: -250px;
}
.player_card7 {
  position: relative;
  left: -300px;
}
.ia_cards {
  display: flex;
  flex-flow: row wrap;
}
img {
  height: 150px;
  box-shadow: 2px 2px 8px black;
}
.player_div {
  display: flex;
  flex-flow: column;
  justify-content: start;
  align-items: center;
  width: 600px;
  height: 300px;
}
.ia_div {
  display: flex;
  flex-flow: column;
  justify-content: start;
  align-items: center;
  width: 600px;
  height: 300px;
}

.result {
  font-size: 2rem;
  font-weight: bolder;
  color: goldenrod;
  text-shadow: black 1px 1px 8px;
  text-align: center;
}

@media (max-width: 700px) {
  img {
    height: 70px;
  }
  .player_div {
    width: 100%;
    height: 200px;
  }
  .ia_div {
    width: 100%;
    height: 200px;
  }
  .player_card0 {
    position: static;
  }
  .player_card1 {
    position: static;
  }
  .player_card2 {
    position: static;
  }
  .player_card3 {
    position: static;
  }
  .player_card4 {
    position: static;
  }
  .player_card6 {
    position: static;
  }
  .player_card7 {
    position: static;
  }
}
